:root {
    --blue-color: #3b5998;
    --light-blue-color: #4e71ba;
    --lighter-blue-color: #93ccea;
}
.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.columns {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
    margin-bottom: 30px;
}
.column {
    background-color: var(--blue-color);
    width: 5px;
    height: 50px;
    padding-bottom: 5px;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 1px 0px 1px
}
.controller {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.controller button {
    margin: 10px 25px;
}
.controller .slider {
    margin: 10px 25px;
}
.btn {
    /* background-color: var(--blue-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--light-blue-color);
    color: #fff;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
    border-radius: 4px; */
}
.btn {
    background-color: rgba(210, 215, 241, 0.2);
    box-shadow: 
        12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
        -3px -3px 8px 0 rgba(0, 0, 0, .25) inset;
    font-family: inherit;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.btn:hover, .btn:active {
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 1px solid #966909; */
}

.btn:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.btn:not(:disabled) {
    animation: enable 0.3s linear;
}

.column span {
    display: none;
}

.title {
    width: 100%;
    height: 70px;
    position: fixed;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.slider {
    outline: none;
    color: var(--blue-color);
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    display: flex;
    flex-direction: column-reverse;
}
.slider label {
    margin-bottom: 10px;
}
.slider:disabled {
    cursor: not-allowed;
    background: #C7C6C6;
}

input:disabled {
    cursor: not-allowed;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--light-blue-color);
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--light-blue-color);
    height: 10px;
}

input[type="range"]::-moz-range-track {
    background: var(--light-blue-color);
    height: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--blue-color);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000, 
                0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000, 
                0px 0px 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
}


/* MEDIA QUERIES */
@media (min-width: 750px) {
    .column {
        width: 8px;
        margin: 0px 2px;
    }

    .controller {
        width: 75%;
        margin: 0px auto;
    }
}
@media (min-width: 950px) {
    .column {
        width: 15px;
        margin: 0px 2px;
    }

}
@media (min-width: 1200px) {
    .column {
        width: 25px;
        margin: 0px 2px;
    }
    .column span {
        display: inline;
    }
    .controller {
        flex-direction: row;
        justify-content: center;
    }
}